
.App {
  max-width: 400px;
  margin-top: 12%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d2a923;
  margin-left: 34%;
}
h1 {
  text-align: center;
}

div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #536a82;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1e252d;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}
